body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    background-color: red;
    color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px;
    text-align: center;

}

.content{
    background-color: hsla(0 010% 90%);
    font-size: 18px;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
}

.description{
    align-items: center;
    display: flex;
}

.food-image{
    padding-left: 1px;
    max-width: 40%;
}

li{
    margin: 10px 0px;
}

a:hover{
    color: green;
}


.subtitle{
    background-color: red;
    color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 02px 8px;

}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}