body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    background-color: red;
    color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    font-size: 18px;
    margin: 10px 0;
}

a:hover{
    color: green;
}

ul{
    background-color: hsla(0 010% 90%);
}
ol{
    background-color: hsla(0 010% 90%);
}

h2{
    background-color: red;
    color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}